body, html{
    background-color: rgb(0,0,0);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: 'helvetica';
}

body *{
    position: relative;
}

body section{
    height: calc(100% - 11em);
    width: 75%;
    flex-grow: 1;
}

body section.outputSection{
    width: 100%;
    height: 11em;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

body section.outputSection p{
    font-size: 12em;
    color: rgb(212, 212, 212);
    margin: 0;
    line-height: .7em;
}

body section.operatorField{
    width: 25%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

body section.operatorField div{
    width: 99.7%;
    height: 19.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);;
    background-color: rgb(247, 143, 18);
    font-size: 3em;
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    transition: background-color .15s, box-shadow .15s;
}

body section.operatorField div:active{
    background-color: rgb(232, 132, 0);
    box-shadow: inset 0em 0em .02em .04em rgba(0,0,0,1);
}

body section.numberField{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

body section.numberField div{
    width: 33%;
    height: calc(20% - .04em);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 203, 203);
    font-size: 3em;
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    transition: background-color .15s;
}

body section.numberField div:active{
    background-color: rgb(150, 150, 150);
}

body section.numberField div.zero{
    width: 66.4%;
}

body section.numberField section{
    width: 100%;
    height: calc(20% - .1em);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body section.numberField section div{
    width: 33%;
    height: 100%;
}
